{
  "DJANGO_SECRET_KEY": "your-secret-key-here",
  "exists": false,
  "SCHOLAR_INBOX_API_KEY": "YOUR_SCHOLAR_INBOX_API_KEY_HERE",
  "GEMINI_API_KEY": "YOUR_GEMINI_API_KEY_HERE",
  "ANTHROPIC_API_KEY": "YOUR_ANTHROPIC_API_KEY_HERE",
  "OPENAI_API_KEY": "YOUR_OPENAI_API_KEY_HERE",
  "OPENROUTER_API_KEY": "YOUR_OPENROUTER_API_KEY_HERE",
  "CUSTOM_AI_BASE_URL": "http://localhost:11434/v1",
  "CUSTOM_AI_API_KEY": "",
  "MISTRAL_API_KEY": "YOUR_MISTRAL_API_KEY_HERE"
}
