aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.13.0
arrow==1.4.0
asgiref==3.11.1
attrs==26.1.0
beautifulsoup4==4.14.3
blessed==1.44.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.0
distro==1.9.0
Django==6.0.5
django-cors-headers==4.9.0
django-picklefield==3.4.0
django-q2==1.10.0
django-storages==1.14.6
djangorestframework==3.17.1
feedparser==6.0.12
flatbuffers==25.12.19
frozenlist==1.8.0
google-auth==2.53.0
google-genai==2.6.0
greenlet==3.5.1
h11==0.16.0
hdbscan==0.8.43
honcho==2.0.0
httpcore==1.0.9
httpx==0.28.1
idna==3.16
jinxed==2.0.4
joblib==1.5.3
llvmlite==0.47.0
multidict==6.7.1
numba==0.65.1
numpy==2.4.6
onnxruntime==1.26.0
opencv-python==4.13.0.92
packaging==26.2
pillow==12.2.0
playwright==1.60.0
propcache==0.5.2
protobuf==7.35.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pyclipper==1.4.0
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pyee==13.0.1
PyMuPDF==1.27.2.3
pynndescent==0.6.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
rapidocr-onnxruntime==1.2.3
redis==3.5.3
requests==2.34.2
scikit-learn==1.8.0
scipy==1.17.1
setuptools==82.0.1
sgmllib3k==1.0.0
shapely==2.1.2
six==1.17.0
sniffio==1.3.1
soupsieve==2.8.4
sqlparse==0.5.5
tenacity==9.1.4
threadpoolctl==3.6.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
umap-learn==0.5.12
urllib3==2.7.0
wcwidth==0.7.0
websockets==16.0
yarl==1.24.2
